@mixin sr_only {
	position: absolute;
	width: 1px;
	height: 1px;
	opacity: 0;
	pointer-events: none;
}

@mixin sr_only_remove {
	position: static;
	width: auto;
	height: auto;
	opacity: 1;
	pointer-events: auto;
}
