@use '../variables.scss' as var;
@use 'sass:map';

@mixin drop_shadow($size, $colour: var.$shadow) {
	box-shadow: map.get(var.$drop_shadow_sizes, $size) $colour;
}

@mixin drop_shadow_multiple($size_1, $size_2, $colour: var.$shadow) {
	box-shadow: map.get(var.$drop_shadow_sizes, $size_1) $colour,
		map.get(var.$drop_shadow_sizes, $size_2) $colour;
}

@mixin underline($size: 4px, $colour: var.$colours_yellow) {
	position: relative;
	padding-bottom: 0.4em;

	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100px;
		height: $size;
		background: $colour;
	}
}
