@mixin position($top: 0, $right: 0, $bottom: 0, $left: 0) {
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}

@mixin centre() {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin full_background($colour: inherit, $fallback_colour: $colour) {
	position: relative;

	&:before {
		@include position(0, auto, -1px, 50%);

		content: '';
		position: absolute;
		z-index: -1;
		width: 101vw;
		transform: translateX(-50%);
		background: $fallback_colour;
		background: $colour;
	}
}

@mixin child_reset {
	>* {
		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

@mixin list_reset {
	ul, li {
		margin: 0;
		padding: 0;
		list-style: none;
	}
}

@mixin list_reset_internal {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		margin: 0;
		padding: 0;
		list-style: none;
	}
}

@mixin aspect_ratio($width, $ratio, $max_width: 'unset') {
	width: $width;
	height: calc($width * $ratio);

	@if($max_width != 'unset') {
		max-width: $max_width;
		max-height: calc($max_width * $ratio);
	}

	@supports(aspect-ratio: 1) {
		aspect-ratio: $ratio;
	}
}

@mixin block_link() {
	&:before {
		@include position;

		content: '';
		position: absolute;
		z-index: 2;
	}
}

@mixin invert_link() {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

@mixin progress_bar($background: var.$colours_grey_light_warm, $progress: var.$colours_navy) {
	border: none;
	border-radius: 0;
	background: $background;
	box-shadow: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	accent-color: $progress;

	&::-webkit-progress-bar {
		background: $background;
	}

	&::-webkit-progress-value {
		background: $progress;
	}

	&::-moz-progress-bar {
		background: $progress;
	}
}

@mixin clip_lines($limit: 4) {
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: $limit;
	-webkit-box-orient: vertical;
}
