%video_embed {
	margin: 60px 0;
	clear: both;

	iframe,
	video {
		@include aspect_ratio(calc(100vw - 40px), var.$youtube_ratio, var.$max_content);
	}
}

%audio_embed {
	margin: 20px 0;

	iframe,
	audio {
		width: 100%;
	}

	iframe {
		height: 100px;
	}
}

%media_caption {
	@include text('s');
	padding: 6px 0;

	font-weight: 500;
}

@media(min-width: 50em) {
	%video_embed {
		iframe,
		video {
			@include aspect_ratio(calc(100vw - 120px), var.$youtube_ratio, var.$max_content);
		}
	}

	%audio_embed {
		max-width: max_width(100vw, 120px, 8);
	}
}

@media(min-width: var.$max_width) {
	%content {
		%audio_embed {
			max-width: max_width(var.$max_content, 0, 8);
		}
	}
}
