.block {
	@extend %block;

	display: flex;
	flex-wrap: wrap;
}

.image {
	display: block;
	order: -1;
	width: 100vw;
	max-height: 350px;
	margin: -60px -20px 60px;

	img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&.graphic {
		position: absolute;
		z-index: -1;
		top: 60px;
		right: 20px;
		width: 60vw;
		min-width: 300px;
		height: 60vw;
		min-height: 300px;
		margin: 0;
		opacity: 0.4;

		img {
			object-fit: contain;
		}
	}
}

.cta {
	@extend %block_cta;
}

.heading {
	@extend %heading;
}

.eyebrow {
	@extend %eyebrow;
}

.content {
	@extend %block_content;
}

@media(min-width: 40em) {
	.block {
		flex-wrap: nowrap;
		align-items: center;
		justify-content: space-between;
	}

	.image {
		flex-shrink: 0;
		align-self: stretch;
		order: 2;
		width: calc(mixins.max_width(100%, 0, 4) + 20px);
		height: auto;
		max-height: unset;
		margin: -60px -20px -60px 20px;

		&.graphic {
			position: static;
			min-width: unset;
			max-width: mixins.max_width(100%, 0, 4);
			min-height: unset;
			max-height: 384px;
			margin-left: 20px;
			opacity: 1;
		}
	}

	.container {
		flex-grow: 1;
	}
}

@media(min-width: 50em) {
	.container {
		max-width: mixins.max_width(100vw, 0, 6);

		p,
		h2,
		blockquote {
			max-width: 100%;
		}
	}

	.block {
		justify-content: space-between;
	}

	.image {
		width: calc(mixins.max_width(100%, 0, 4) + 60px);
		margin: -120px -60px -120px 0;
	}
}

@media(min-width: var.$max_width) {
	.container {
		max-width: mixins.max_width(var.$max_width, 0, 6);
	}

	.image {
		width: calc((mixins.max_width(var.$max_width, 0, 4) + 60px) + (50vw - (#{var.$max_width} / 2)));
		margin-right: calc(-1 * (60px + 50vw - (#{var.$max_width} / 2)));
	}
}
