form {
	max-width: 700px;
	margin: 0;
	padding: 60px 0;

	label,
	input,
	textarea,
	select {
		@include mixins.text('l');
	}

	label,
	legend {
		display: block;
		width: 100%;
		margin: 0 0 10px;
		padding: 0;
	}

	legend {
		@include mixins.heading_text('h3');

		margin-top: 30px;
		font-weight: 600;
	}

	input,
	textarea,
	select {
		display: block;
		width: 100%;
		padding: 10px 16px;
		border: 2px solid var.$colours_navy;
		border-radius: 0;
		background: var.$colours_neutral;

		&::placeholder {
			opacity: 1;
			color: var.$colours_neutral;
		}

		&[type='checkbox'],
		&[type='radio'] {
			@include mixins.sr_only;

			&+label {
				color: var.$colours_neutral;
			}
		}

		&[type='radio'] {
			&+label {
				@include mixins.radio_input;
			}

			&:checked {
				&+label {
					@include mixins.radio_input_active;
				}
			}
		}

		&[type='checkbox'] {
			&+label {
				@include mixins.check_input;
			}

			&:checked {
				&+label {
					@include mixins.check_input_active;
				}
			}
		}

		&[type='search'] {
			padding: 14px;
			color: var.$colours_black;
			font-family: var.$font_main;
			font-size: 1em;
			font-weight: 400;
			text-transform: none;

			&::placeholder {
				opacity: 1;
			}
		}
	}

	select {
		padding: 10px;
	}

	textarea {
		height: 190px;
	}
}

.wpforms-field-container {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px -40px;

	.wpforms-field {
		width: 100%;
		margin: 0 15px 40px;

		&.wpforms-one-half {
			flex-grow: 1;
			width: 45%;
		}

		&.wpforms-has-error {
			outline: 2px solid var.$colours_error;
		}

		.wpforms-error {
			background: rgba(var.$colours_error, 0.1);

			&:not(input, textarea) {
				margin-top: 10px;
				padding: 5px 10px;
				background: none;
				color: var.$colours_currant;
				font-weight: 700;
			}
		}
	}

	.wpforms-field-checkbox {
		ul,
		li {
			margin: 0;
			padding: 0;
			list-style: none;
		}
	}
}

.wpforms-submit-container {
	display: flex;
	justify-content: flex-end;
	margin-top: 40px;
}

.wpforms-label-hide {
	@include mixins.sr_only;
}

@media(min-width: 40em) {
	.wpforms-field-container {
		position: relative;

		.wpforms-field {
			&.newsletter {
				position: absolute;
				bottom: -35px;
				width: 50%;
				margin-bottom: 0;

				label {
					margin-bottom: 0;
				}
			}
		}
	}

	.wpforms-submit-container {
		max-width: 50%;
		margin-left: auto;
	}
}
