@forward './variables/colours.scss' as colours_*;
@forward './variables/fonts.scss' as font_*;
@use 'sass:math';

// Folders
$src: './src/';
$fonts: $src + 'fonts/';
$img: $src + 'img/';

// Sizes
$max_content: 1216px;
$max_width: $max_content + 120px;
$youtube_ratio: math.div(281, 500);

$media_queries: (
	'large_mobile': 40em,
	'tablet': 60em,
	'desktop': 70em,
	'large_desktop': 80em,
);

$drop_shadow_sizes: (
	'xs': 0 0 1px 2px,
	's': 0 1px 2px -1px,
	'm': 0 2px 4px -2px,
	'l': 0 4px 6px -4px,
	'xl': 0 8px 10px -6px,
	'xxl': 0 25px 50px -12px,
	'f_1': 0 0 1px,
	'f_4': 0 0 4px,
	'border_bottom': 0 1px 0,
	'border_top': 0 -1px 0,
	'box': 0 10px 15px -3px,
);
