/* Custom Editor Styles */
@import './global/fonts.scss';
@import './global/typography.scss';
@import './global/forms.scss';

.editor-styles-wrapper {
	.wp-block-button__link {
		border-radius: 0;
	}
}

.block-editor-writing-flow,
.editor-styles-wrapper,
.is-root-container[class*='block-editor-block-list'] {
	color: var.$colours_neutral;
	font-family: var.$font_main;
	font-size: 18px;
	line-height: 1.5;

	.editor-post-title {
		.editor-post-title__input {
			color: var.$colours_blue;
			font-family: var.$font_headings;
			font-size: 3.22em;
			font-weight: 400;
			line-height: 1.2;
			text-transform: uppercase;
		}
	}

	.wp-block {
		&[data-type='acf/home-header-block'] {
			width: 1000px;

			.acf-editor-wrap {
				iframe {
					min-height: unset;
					max-height: 150px;
				}
			}

			.wp-block {
				max-width: 100%;
				margin-left: 0;
				transform: none;
			}
		}
	}

	.wp-block-button__link {
		display: inline-block;
		padding: 10px 20px;
		border: 2px solid var.$colours_blue;
		border-radius: 0;
		background: var.$colours_blue;
		color: var.$colours_white;
		font-weight: 600;
		line-height: 1;
		text-decoration: none;
		text-transform: uppercase;

		&:hover {
			background: var.$colours_white;
			color: var.$colours_blue;
		}
	}

	.button-primary {
		padding: 5px 10px;
		background: var.$colours_blue;
		color: var.$colours_white;
	}

	.mce-toolbar {
		button,
		.button,
		.btn {
			margin: 0;
			border-width: 1px;
			background: transparent;
			color: var.$colours_neutral;
		}
	}
}

.acf-icon-select-wrap {
	display: flex;
	align-items: center;

	.acf-icon-select-feature {
		order: -1;
		width: 150px;
		height: 150px;
	}

	.sr-only {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		pointer-events: none;
	}

	.field {
		padding: 10px 20px;
	}
}

.iris-picker {
	display: none;
}
